@import url("https://fonts.googleapis.com/css2?family=Work+Sans:display=swap");

.blog {
  padding: 1em 0 0;
  background: #0f0f0f;
}

.blogHeader {
  max-width: 1220px;
  width: 100%;
  margin: 3em auto 5em;
  background: url("/d4.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 55%;
  height: 646px;
  position: relative;
}

.blogHeader label {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.0015em;
  color: #757575;
  position: relative;
  padding-left: 0.7em;
}

.blogHeader label::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #e84e1c;
  position: absolute;
  border-radius: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.blogHeader h2 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.015em;
  color: #ffffff;
  margin: 0.2em 0;
}

.blogHeader h2 span {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: linear-gradient(90deg, #E8B41C 0%, rgba(232, 180, 28, 0) 0.01%, #E84E1C 100%); */
  -webkit-text-stroke-color: #fff;
}

.blogHeader p {
  width: 485px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.0015em;
  color: #757575;
}
.blogHeader button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  width: 167px;
  height: 48px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  background-color: transparent;
  margin-top: 3em;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;
  color: #ffffff;
}

.image {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2em;
  height: 160px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.image img {
  height: 100%;
  width: 150px;
  object-fit: contain;
}

.playlist {
  max-width: 1220px;
  width: 100%;
  margin: auto;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  margin: 2em auto;
}

.option li {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;
  color: #ffffff;
  list-style: none;
  cursor: pointer;
}
.option .active {
  padding: 1em 2em;
  border: 1px solid #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2em;
  width: 100%;
  margin-bottom: 2em;
}
.cat1Content {
  background-color: #292929;
  border-radius: 24px;
}

.cat1Content:nth-child(1) {
  background: #292929;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  border-radius: 24px;
}
.cat1Content:nth-child(1) img {
  width: 100%;
  height: 392px;
  object-fit: cover;
}
.cat1Text {
  padding: 1em 0.3em;
  height: calc(100% - 300px);
}
.cat1Text label {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.0015em;
  color: #ffffff;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.cat1Text h2 {
  padding-top: 1em;
  padding-bottom: 0.4em;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.0015em;
  color: #ffffff;
}
.cat1Text p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #757575;
}
.cat1Text button {
  margin-top: 2em;
  width: 59px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 100px;
  background-color: transparent;
}
.cat1Content img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.cat2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2em;
  margin-bottom: 2em;
}
.cat2Content {
  background-color: #292929;
  border-radius: 24px;
}

.cat2Content:nth-child(2) {
  background: #292929;
  grid-column: 2/ 4;
  grid-row: 1 / span 2;
}
.cat2Content:nth-child(2) img {
  width: 100%;
  height: 392px;
  object-fit: cover;
}
.cat2Content img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.cat3 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2em;
  margin-bottom: 2em;
}
.cat3Content {
  background-color: #292929;
  border-radius: 24px;
}

.cat3Content:nth-child(5) {
  background: #292929;
  grid-column: 3 / span 4;
  grid-row: 1 / span 2;
}
.cat3Content:nth-child(5) img {
  width: 100%;
  height: 392px;
  object-fit: cover;
}
.cat3Content img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .cat1 {
    grid-template-columns: auto;
  }
  .cat2 {
    grid-template-columns: auto;
  }
  .cat3 {
    grid-template-columns: auto;
  }
  .cat2Content:nth-child(2) {
    background-color: #292929;
    grid-column: 1 / span 2;
    grid-row: 2 / 4;
  }
   .cat3Content:nth-child(5) {
    background-color: #292929;
    grid-column: 1 / span 2;
    grid-row: 2 / 4;
  }

}
