@import url("https://fonts.googleapis.com/css2?family=Work+Sans:display=swap");

.episode {
  padding: 1em 0 0;
  background: #0f0f0f;
}

.header {
  max-width: 1200px;
  width: 100%;
  margin: 2em auto;
  height: 500px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(/dv13.png);
  border-radius: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.header button {
  width: 77px;
  height: 32px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;
  color: #ffffff;
  background-color: transparent;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 577px;
}

.text h2 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.0025em;
  color: #ffffff;
}
.text p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #ffffff;
  margin-bottom: 0.5em;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3em;
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;
  color: #ffffff;
  margin-bottom: 0.5em;
}

.podcast {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  margin-bottom: 4em;
}
.pod h2 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2em;
}
.podcast img {
  height: 100%;
  height: 38px;
}

.episodeMap {
  max-width: 1200px;
  width: 100%;
  margin: 2em auto 0;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.001em;
  color: #ffffff;
}

.top p select {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.001em;
  text-decoration-line: underline;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
}

.input {
  width: 300px;
  height: 48px;
  border: 1px solid #757575;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  color: #757575;
  font-size: 20px;
  padding: 0 1em;
}

.input input {
  background-color: transparent;
  width: 85%;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #757575;
  border: none;
  outline: none;
}

.bottom {
  margin: 8em auto 0em;
  padding-bottom: 9em;
  position: relative;
}

.bottom h2 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.015em;
  margin: 20px 0 1em;
  text-align: left;
  background: linear-gradient(90deg, #E8B41C 0%, #E84E1C 100%);
-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0f0f0f;
  background-clip: text;
  text-fill-color: #0f0f0f;
  width: 420px;
  opacity: 0.5;


}

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3em;
  flex-wrap: wrap;
}
.btnCard {
  width: 364px;
  height: 100%;
  filter: drop-shadow(0px 2px 40px #000000);
}
.btnCard img {
  border-radius: 24px 24px 0px 0px;
  height: 60%;
  width: 100%;
}

.btnCard > div {
  height: 40%;
  width: 100%;
  background: #292929;
  border-radius: 0px 0px 24px 24px;
  padding: 1em;
}

.btnCard > div p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.0015em;
  color: #ffffff;
  margin-bottom: 0.3em;
}

.btnCard > div span {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #757575;
}

.btnCard > div button {
  display: flex;
  align-items: center;
  padding: 8px 12px 8px 8px;
  gap: 4px;
  width: 77px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;
  color: #ffffff;
  margin-top: 2em;
  cursor: pointer;
}
.modal {
  position: fixed;
  width: 752px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #292929;
  border-radius: 40px;
  padding: 2em;
}
.modalTop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  margin-top: 2em;
}
.modalTop img {
  width: 122.5px;
  height: 104px;
  border-radius: 8px;
}
.modalTop h3 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.0025em;
  color: #ffffff;
  margin-bottom: .4em;
}
.modalTop p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: #757575;
  margin-bottom: .3em;
}
.modalTop span {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: #757575;
  display: flex;
  align-items: center;
  gap: .5em;
}

.modalBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em 1em;
  flex-wrap: wrap;
  margin: 2em 0;
}
.close {
  font-size: 30px;
  color: #fff;
  float: right;
  cursor: pointer;
}

.play {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 8px;
  gap: 16px;
  width: 213.33px;
  height: 152px;
  cursor: pointer;
}
.play:hover {
  background: rgba(66, 66, 66, 0.25);
  border-radius: 16px;
}
.play img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.play p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .episodeMap,
  .header {
    max-width: 98%;
    padding: 2em 1em;
  }
}

@media (max-width: 800px) {
  .cards {
    gap: 3em 1em;
  }
  .btnCard {
    width: 300px;
  }
  .bottom h2 {
    font-weight: 600;
    font-size: 70px;
    line-height: 56px;
  }
  .podcast img {
    height: 23px;
  }
  .modal {
    width: 97%;
  }
}

@media (max-width: 625px) {
  .btnCard {
    width: 95%;
  }
  .bottom h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
  }
  .text h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.0015em;
  }
  .text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.0015em;
  }
  .text {
    width: 98%;
  }
  .modal{
    padding: 2em 1em;
  }
  .modalBottom{
    gap: 2em .5em;
  }
  .play {
    width: 103.67px;
    
  }
}

@media (max-width: 450px) {
  .text h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.0015em;
  }
  .text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.005em;
  }
}
