@import url("https://fonts.googleapis.com/css2?family=Work+Sans:display=swap");

.main {
  padding: 1em 0;
  background: #0f0f0f;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 0 1em;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.logo {
  width: 97px;
  height: 22.75px;
}
.logo img {
  width: 100%;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.nav ul li {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;
  color: #ffffff;
  list-style: none;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0em 0 1em;
  max-width: 1200px;
  margin: 8em auto 6em;
  width: 100%;
}

.header h1 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.015em;
  color: #ffffff;
}
.spanText {
  max-width: 387px;
}

.text span {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.0015em;
  width: 100%;
  color: #757575;
}

.text2 p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.015em;
  opacity: 0.8;
  margin-top: 20px;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: linear-gradient(90deg, #E8B41C 0%, rgba(232, 180, 28, 0) 0.01%, #E84E1C 100%); */
  -webkit-text-stroke-color: #e84e1c;
}

.pPod {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pPod img {
  width: 64px;
  height: 64px;
}
.pPod p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;
  color: #ffffff;
  margin: 0;
}

.section {
  max-width: 1200px;
  margin: -2em auto 1em;
  width: 100%;
}
.section span {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.015em;
  opacity: 0.8;
  margin-top: 20px;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: linear-gradient(90deg, #E8B41C 0%, rgba(232, 180, 28, 0) 0.01%, #E84E1C 100%); */
  -webkit-text-stroke-color: #e84e1c;
  margin-bottom: 4em;
}
.section p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.015em;
  opacity: 0.8;
  margin-top: 20px;
  width: 20%;
  margin-left: auto;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: linear-gradient(90deg, #E8B41C 0%, rgba(232, 180, 28, 0) 0.01%, #E84E1C 100%); */
  -webkit-text-stroke-color: #888888;
  margin-bottom: 1em;
}

.podcast {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 38px;
  margin-bottom: 4em;
}
.podcast img {
  height: 100%;
}
.images {
  display: flex;
  height: 599px;
  max-width: 1440px;
  margin: 1em auto;
  width: 100%;
}
.images .img1 {
  width: 25%;
  height: 100%;
  background: url(/dv19.png);
  object-fit: contain;
  background-position: center;
  background-size: cover;
}
.images .img2 {
  width: 25%;
  height: 100%;
  background: url(/dv18.png), #d9d9d9;
  mix-blend-mode: luminosity;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}

.images .img3 {
  width: 25%;
  height: 100%;
  background: url(/dv17.png), #d9d9d9;
  mix-blend-mode: luminosity;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}

.images .img4 {
  width: 25%;
  height: 100%;
  background: url(/dv16.png);
  object-fit: contain;
  background-position: center;
  background-size: cover;
}

.podCastSec {
  max-width: 1140px;
  margin: 5em auto 1em;
  width: 100%;
}

.podCastSec h1 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.015em;
  margin: 20px 0 1em auto;
  width: 38%;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: linear-gradient(90deg, #E8B41C 0%, rgba(232, 180, 28, 0) 0.01%, #E84E1C 100%); */
  -webkit-text-stroke-color: #e84e1c;
}

.castSecOption {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 2em;
}

.castCont {
  width: 364px;
  /* height: 450px; */
  border-radius: 24px;
}

.castCont img {
  border-radius: 24px 24px 0px 0px;
  height: 50%;
  width: 100%;
  /* object-fit: contain; */
}

.castText {
  padding: 1em;
  margin-top: -.5em;
  background: #292929;
  border-radius: 0px 0px 24px 24px;

}
.castText h3 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.0015em;
  color: #ffffff;
}
.castText p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #757575;
  margin: 0.5em 0 2em;
}

.castText button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 8px;
  gap: 4px;
  width: 77px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;

  /* White */

  color: #ffffff;
}
