@import url("https://fonts.googleapis.com/css2?family=Work+Sans:display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11110;
  background: #000;
}

.loading p {
  animation: blink 2s infinite;
  font-family: Helvetica Neue, Helvetica, Arial;
  pointer-events: none;
  color: #fff;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  font-size: 30px;
  font-weight: 900;
}
.loading a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Lobster", cursive;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 465px) {
  .loading p {
  animation: blink 2s infinite;
  font-family: Helvetica Neue, Helvetica, Arial;
  pointer-events: none;
  color: #fff;
  animation-timing-function: ease;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  font-size: 22px;
  font-weight: 900;
}
.loading a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: "Lobster", cursive;
  position: absolute;
  right: 5%;
  bottom: 5%;
}
}

.main {
  padding: 1em 0 0;
  background: #0f0f0f;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 0 1em;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.logo {
  width: 97px;
  height: 22.75px;
}
.logo img {
  width: 100%;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}
.navLink li {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;
  color: #ffffff;
  list-style: none;
}
.activeTog li {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;
  color: #ffffff;
  list-style: none;
}

.ham img {
  width: 40px;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0em 0 1em;
  max-width: 1140px;
  margin: 8em auto 6em;
  width: 100%;
}

.header h1 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.015em;
  color: #ffffff;
}
.spanText {
  max-width: 387px;
}

.text span {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.0015em;
  width: 100%;
  color: #757575;
}

.text2 p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.015em;
  opacity: 0.8;
  margin-top: 20px;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  background: linear-gradient(
    90deg,
    #e8b41c 0%,
    rgba(232, 180, 28, 0) 0.01%,
    #e84e1c 100%
  );
  width: 306px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0f0f0f;
  background-clip: text;
  text-fill-color: #0f0f0f;
  opacity: 0.8;
}

.pPod {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pPod img {
  width: 64px;
  height: 64px;
}
.pPod p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;
  color: #ffffff;
  margin: 0;
}

.section {
  max-width: 1200px;
  margin: -2em auto 1em;
  width: 100%;
}
.section span {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.015em;
  opacity: 0.8;
  margin-top: 20px;
  background: linear-gradient(90deg, #e8b41c 0%, rgba(232, 78, 28, 0) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0f0f0f;
  background-clip: text;
  text-fill-color: #0f0f0f;
  width: 275px;
  opacity: 0.8;
}
.section p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.015em;
  opacity: 0.8;
  margin-top: 20px;
  text-align: right;
  background: linear-gradient(
    90deg,
    #e8b41c 0%,
    rgba(232, 180, 28, 0) 0.01%,
    #003f7d 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0f0f0f;
  background-clip: text;
  text-fill-color: #0f0f0f;
  width: 275px;
  margin-left: auto;
  opacity: 0.8;
}
.section .secIMMg1 {
  margin-top: 2em;
  margin-bottom: 4em;
}
.secDiv {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.podcast {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 6em;
  margin-bottom: 4em;
}

.podcast img {
  height: 100%;
  height: 38px;
}
.images {
  display: flex;
  height: 599px;
  margin: 1em auto;
  width: 100%;
}
.images .img1 {
  width: 25%;
  height: 100%;
  background: url(/dv19.png);
  object-fit: contain;
  background-position: center;
  background-size: cover;
}
.images .img2 {
  width: 25%;
  height: 100%;
  background: url(/dv18.png), #d9d9d9;
  mix-blend-mode: luminosity;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}

.images .img3 {
  width: 25%;
  height: 100%;
  background: url(/dv17.png), #d9d9d9;
  mix-blend-mode: luminosity;
  object-fit: contain;
  background-position: center;
  background-size: cover;
}

.images .img4 {
  width: 25%;
  height: 100%;
  background: url(/dv16.png);
  object-fit: contain;
  background-position: center;
  background-size: cover;
}

.podCastSec {
  max-width: 1140px;
  margin: 5em auto 1em;
  width: 100%;
}
.podCastSec h1 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.015em;
  margin: 20px 0 1em auto;
  text-align: right;
  background: linear-gradient(90deg, #e8b41c 0%, #e84e1c 100%);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0f0f0f;
  background-clip: text;
  text-fill-color: #0f0f0f;
  width: 420px;
  opacity: 0.5;
}
.podCastSecCont {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 20px auto 3em;
}

.castSecOption {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 2em;
}

.castCont {
  width: 320px;
  border-radius: 24px;
  z-index: 111;
  position: relative;
}

.castCont img {
  border-radius: 24px 24px 0px 0px;
  height: 50%;
  width: 100%;
  /* object-fit: contain; */
}

.castText {
  padding: 1.5em 1em;
  margin-top: -0.5em;
  background: #292929;
  border-radius: 0px 0px 24px 24px;
}
.castText h3 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.0015em;
  color: #ffffff;
}
.castText p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #757575;
  margin: 0.5em 0 2em;
}

.castText button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 8px;
  gap: 4px;
  width: 77px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;
  color: #ffffff;
}

.view {
  padding: 8px 16px;
  gap: 8px;
  height: 32px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  background-color: transparent;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;
  color: #ffffff;
  margin: 2em auto;
}

.musicImage {
  display: flex;
  justify-content: center;
  height: 705px;
  position: relative;
}
.musicCap {
  width: 800px;
  position: absolute;
  right: -15%;
  top: -10%;
  z-index: 1;
}
.musicImage img {
  height: 100%;
  width: 100%;
  /* object-fit: contain; */
}

.blogs {
  max-width: 1140px;
  width: 100%;
  margin: -20em auto 2em;
  z-index: 11;
}
.blogs h1 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.015em;
  margin: 20px 0 1em;
  text-align: left;
  background: linear-gradient(90deg, #e8b41c 0%, #4ca6ff 100%);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0f0f0f;
  background-clip: text;
  text-fill-color: #0f0f0f;
  width: 273px;
  opacity: 0.5;
}

.blogsCont {
  margin: 20px 0 1em;
  display: flex;
  justify-content: flex-start;
}

.blogOpt {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2em;
}

.BlogOptCon {
  width: 500px;
  height: 200px;
  display: flex;
  position: relative;
  z-index: 111;
}

.BlogOptCon img {
  width: 35%;
  height: 100%;
}

.blogText {
  height: 200px;
  background: #292929;
  border-radius: 0px 24px 24px 0px;
  padding: 1em;
}

.blogText h3 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.0015em;
  color: #ffffff;
  margin: 0 0 0.5em;
}
.blogText p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #757575;
  margin: 0 0 0.5em;
}
.blogText button {
  width: 59px;
  height: 32px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;
  color: #ffffff;
  background-color: transparent;
}
.comment {
  max-width: 1140px;
  width: 100%;
  margin: 20em auto 2em;
  z-index: 11;
}

.comment h1 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.015em;
  margin: 20px 0 1em;
  text-align: right;
  background: linear-gradient(90deg, #4ca6ff 0%, #f19679 100%);
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0f0f0f;
  background-clip: text;
  text-fill-color: #0f0f0f;
  opacity: 0.5;
}

.commentOpt {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: flex-end;
  flex-wrap: wrap;
  background: url(/dv011.png);
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.commentCon {
  width: 364px;
  height: 232px;
  background: #292929;
  border-radius: 24px;
  padding: 1em;
  margin-bottom: 1.5em;
}
.commentCon p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #757575;
  margin: 0 0 1em;
}

.prof {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

.prof img {
  width: 56px;
  height: 56px;
}
.prof span {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.0015em;
  color: #ffffff;
}

.community {
  max-width: 1140px;
  width: 100%;
  margin: 10em auto 5em;
  position: relative;
  padding: 0 0 3em;
}

.community h1 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 113px;
  letter-spacing: -0.015em;
  margin: 20px 0 1em;
  text-align: left;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: transparent;
  background: linear-gradient(90deg, #0074e6 0%, #f1d379 100%);
  opacity: 0.5;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0f0f0f;
  background-clip: text;
  text-fill-color: #0f0f0f;
}

.communityCap {
  width: 752px;
  height: 364px;
  margin: auto;
  background: #292929;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.communityImg {
  right: -20%;
  bottom: -20%;
  position: absolute;
  width: 600px;
  height: 600px;
}

.communityCap img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.communityCap h2 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.0025em;
  color: #ffffff;
  margin-bottom: 0.5em;
}

.communityCap p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #757575;
  margin-bottom: 2em;
}

.communityCap button {
  width: 110px;
  height: 48px;
  background: #003f7d;
  border-radius: 100px;
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0125em;
  color: #ffffff;
  border: none;
}

.footer {
  /* height: 120px; */
  background: #292929;
  padding: 1em 0;
}

.footTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.footTop img {
  width: 97px;
  height: 22.75px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: #999999;
  font-size: 20px;
}

.footBottom {
  border-top: 1px solid #999999;
  padding: 1em 0 0;
  margin-top: 1em;
}

.footBottom p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: #757575;
  text-align: center;
}
.ham {
  display: none;
}
.mbImg {
  display: none;
}
.lpImg {
  display: block;
}

.close {
  font-size: 40px;
  color: rgb(209, 209, 209);
}
@media (max-width: 1440px) {
  .images {
    width: 100%;
  }
}

@media (max-width: 1140px) {
  .nav,
  .header,
  .footTop,
  .community,
  .comment,
  .podCastSec,
  .blogs {
    width: 98%;
  }
  .castSecOption {
    justify-content: space-around;
    /* gap: 1em; */
  }
  .blogOpt {
    gap: 2em 1em;
  }
  .BlogOptCon {
    width: 460px;
    height: 230px;
  }
  .blogText {
    height: 230px;
  }
}

@media (max-width: 1024px) {
  .header {
    flex-direction: column-reverse;
    margin: 3em auto 3em;
  }

  .text2 {
    width: 100%;
    text-align: right;
  }
  .text {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .navLink {
    top: -100%;
    width: 100%;
    height: 600px;
    flex-direction: column;
    position: absolute;
    left: 0;
    transition: all 0.5s ease;
    background-color: #0f0f0f;
    z-index: 11;
  }
  .mobHam {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }

  .nav ul .ham {
    position: absolute;
    top: 5%;
    right: 5%;
  }
  .nav ul .ham .hamIcon {
    transform: rotate(45deg);
    width: 31px;
    height: 33px;
    position: absolute;
  }
  .nav ul .ham .hammIcon {
    transform: rotate(-45deg);
    width: 31px;
    height: 33px;
    position: absolute;
  }
  .activeTog {
    background-color: #0f0f0f;
    position: fixed;
    height: 600px;
    width: 100%;
    right: 0%;
    top: 7%;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    transition: all 0.5s ease;
  }
  .ham {
    display: block;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .hamIcon {
    width: 10px;
    height: 30px;
  }
  .hammIcon {
    width: 10px;
    height: 30px;
  }
  .musicImage {
    height: 400px;
  }
  .musicCap {
    right: 0;
    height: 100%;
    width: 440.0625px;
  }
  .blogs {
    margin-top: -16em;
  }
  .BlogOptCon {
    width: 90%;
    margin: auto;
    height: 200px;
  }
  .blogText {
    height: 200px;
  }
  .comment {
    margin: 10em 0 2em;
  }
}

@media (max-width: 768px) {
  .text2 p,
  .section span,
  .section p,
  .blogs h1,
  .podCastSec h1,
  .comment h1,
  .community h1,
  .text h1 {
    font-weight: 600;
    font-size: 70px;
    line-height: 80px;
  }

  .section {
    margin: 2em 0;
  }

  .podcast {
    margin-bottom: 4em;
  }
  .podcast img {
    height: 23px;
  }

  .images {
    height: 300px;
  }
  .BlogOptCon {
    width: 98%;
  }
  .communityCap {
    width: 98%;
    margin: auto;
  }
}

@media (max-width: 700px) {
  .castCont {
    width: 90%;
  }
  .commentOpt {
    height: 100%;
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-y: bottom;
    padding-bottom: 3em;
  }
  .commentCon {
    margin: 0 auto 1.5em;
    width: 98%;
  }
}

@media (max-width: 500px) {
  .text2 p,
  .section span,
  .section p,
  .blogs h1,
  .podCastSec h1,
  .comment h1,
  .community h1,
  .text h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
  }
  .castCont {
    width: 97%;
    margin: auto;
  }
  .text2 p,
  .section span,
  .section p {
    width: 155px;
    display: block;
  }
  .podCastSec h1 {
    width: 210px;
  }
  .community h1 {
    width: 265px;
  }
  .comment h1 {
    width: 253px;
    margin-left: auto;
  }
  .BlogOptCon {
    height: 100%;
    flex-direction: column;
  }
  .BlogOptCon img {
    width: 100%;
    height: 200px;
  }
  .mbImg {
    display: block;
  }
  .lpImg {
    display: none;
  }
  .blogText {
    height: 100%;
    border-radius: 0px 0px 24px 24px;
  }
  .community {
    margin: 5em 0;
  }
  .text span {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.001em;
  }
}
